@media all {
#afui {
  .wrapping-col > .d-margins,
  .wrapping-col > .afScrollPanel > .d-margins {  margin-left:20px;
    margin-right:20px;
  }
  
  .wrapping-col > .d-margins,
  .wrapping-col > .afScrollPanel > .d-margins {  margin-left:20px;
    margin-right:20px;
  }
  
  .vertical-col > .d-margins,
  .vertical-col > .afScrollPanel > .d-margins {  margin-left:26px;
    margin-right:26px;
  }
  
  .vertical-col > .d-margins,
  .vertical-col > .afScrollPanel > .d-margins {  margin-left:26px;
    margin-right:26px;
  }
  
  .d-margins {  margin-top:6px;
    margin-bottom:30px;
  }
  
  
}
}

